{% extends 'base.html' %}
{% load static %}
{% block title %}
Background
{% endblock title %}
{% block content %}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Background</span>
                        {% comment %} <span class="section-heading-lower">To You</span> {% endcomment %}
                    </h2>
                    <p class="mb-0">Over the course of the semester my "Principles of Business Programming" has been studying "How To Win Friends & Influence People" by Dale Carnegie. After studying it all semester and applying the principles in our lives we were assigned to create some type of creative presentation explaining what we have learned by reading and implementing the principles from the book. This website is my attempt to do that</p>
                </div>
            </div>
        </div>
    </div>
</section> 
{% endblock content %}